<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Geofuse Installation</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<style>
body { font:80% Verdana,Tahoma,Arial,sans-serif; }
h1, h2, h3, h4 {  font-family: "Trebuchet MS",Georgia,"Times New Roman",serif; }
ul.toc { padding: 4px; margin-left: 0; }
ul.toc li { list-style-type:none; }
ul.toc li.heading2 { margin-left: 1em; }
ul.toc li.heading3 { margin-left: 2em; }
a.wiki-anchor { display: none; margin-left: 6px; text-decoration: none; }
a.wiki-anchor:hover { color: #aaa !important; text-decoration: none; }
h1:hover a.wiki-anchor, h2:hover a.wiki-anchor, h3:hover a.wiki-anchor { display: inline; color: #ddd; }
img {
   width: 80%;
   height: auto;
}
</style>
</head>
<body>
    <p>These are the procedures that needs to be done to install GeoFuse.</p>


    <ul>
    <li>Install a recent version of the JDK (minimum: JDK 7)</li>
    </ul>


    <ul>
    <li>Install a recent version of PostgreSQL/PostGIS</li>
    </ul>


    <ul>
    <li>Install a recent version of Apache Tomcat</li>
    </ul>


    <ul>
    <li>Install a recent version of Geoserver</li>
    </ul>


    <ul>
    <li>Copy the geoserver.war and geofuse.war files into the Tomcat <strong>webapps</strong> directory</li>
    </ul>


    <ul>
    <li>Start Tomcat. This will deploy both geoserver and geofuse web applications.</li>
    </ul>


    <ul>
    <li>Create a <strong>geofuse</strong> PostgreSQL Database.</li>
    </ul>


<pre style="display: inline-block; border:1px solid Gray;">
createdb -U postgres geofuse
</pre>

    <ul>
    <li>Add the POSTGIS and the POSTGIS_TOPOLOGY extensions into the geofuse Database.</li>
    </ul>


<pre style="display: inline-block; border:1px solid Gray;">
geofuse=# create extention postgis;
geofuse=# create extention postgis_topology;
</pre>

    <ul>
    <li>Create the <strong>schemas</strong> and <strong>tables</strong> the Geofuse application will use</li>
    </ul>


<pre style="display: inline-block; border:1px solid Gray;">
geofuse=# \i &lt;TOMCAT_DIR&gt;/webapps/geofuse/WEB-INF/classes/sql/createtabs.sql
</pre>

    <ul>
    <li>install the <strong>deltemp</strong> PL/pgSQL function that deletes upload CSV tables and cleans up the metadata tables.</li>
    </ul>


<pre style="display: inline-block; border:1px solid Gray;"><code class="sql syntaxhl"><span class="CodeRay">geofuse=<span class="comment"># \i &lt;TOMCAT_DIR&gt;/webapps/geofuse/WEB-INF/classes/sql/deltemp.sql</span>
</span></code></pre>

    <ul>
    <li>Now in Geoserver, create a Workspace named <strong>geofuse</strong></li>
    </ul>


    <p><img src="workspace.png" alt="" width="100%" height="auto" /></p>


    <ul>
    <li>Create a PostGIS Store</li>
    </ul>


    <p><img src="postgis_store.png" alt="" width="100%" height="auto" /></p>


    <ul>
    <li>Name the new Store as <strong>geofuse</strong> and set the database parameter to the <strong>geofuse</strong> database created. Set the schema parameter to <strong>geodata</strong>.</li>
    </ul>


    <p><img src="store.png" alt="" width="100%" height="auto" /></p>


    <ul>
    <li>Create a new <strong>SQL View Layer</strong></li>
    </ul>


    <p><img src="sql_view.png" alt="" width="100%" height="auto" /></p>


    <ul>
    <li>Set the layer name as <strong>geolink</strong> and the SQL Statement as</li>
    </ul>


<pre style="display: inline-block; border:1px solid Gray;"><code class="sql syntaxhl"><span class="CodeRay"><span class="class">select</span> a.*,the_geom <span class="keyword">from</span> %linktab% a,%maptab% b <span class="keyword">where</span> a.col0 = b.%mapcol%
</span></code><br /></pre>

    <ul>
    <li>Set the View Parameters to the values below and erase the values of the <strong>Validation regular expression (正規表現を検証)</strong></li>
    </ul>


<pre style="display: inline-block; border:1px solid Gray;">
linktab = geodata.dummy
maptab  = geodata.mapdummy
mapcol  = mapcol
</pre>

    <p><img src="sql_input1.png" alt="" width="100%" height="auto" /></p>


    <ul>
    <li>Press the <strong>Refresh</strong> button to update the Columns list. Change the SRID of the <strong>the_geom</strong> column to 4326 and press the Save Button.</li>
    </ul>


    <p><img src="sql_input2.png" alt="" width="100%" height="auto" /></p>


    <ul>
    <li>After Pressing the Save button, set the Bounding Box Parameters to -180 -90 180 90 in the main layer creation page and then Save.</li>
    </ul>


    <p><img src="sql_input3.png" alt="" width="100%" height="auto" /></p>


    <ul>
    <li>Create another SQL View Layer using the procedure set above. Set the layer name as <strong>geolink_pt</strong> and the SQL Statement as below</li>
    </ul>


<pre style="display: inline-block; border:1px solid Gray;"><code class="sql syntaxhl"><span class="CodeRay"><span class="class">select</span> * <span class="keyword">from</span> %linktab%
</span></code></pre>

    <ul>
    <li>Set the View Parameters to the values below and erase the values of the <strong>Validation regular expression (正規表現を検証)</strong></li>
    </ul>


<pre style="display: inline-block; border:1px solid Gray;">
linktab = geodata.dummy_pt
</pre>

    <ul>
    <li>Press the <strong>Refresh</strong> button to update the Columns list. Change the Geometry Type to <strong>Point</strong> and the SRID of the <strong>the_geom</strong> column to 4326 and press the Save Button.</li>
    </ul>


    <p><img src="sql_input4.png" alt="" width="100%" height="auto" /></p>


    <ul>
    <li>After Pressing the Save button, set the Bounding Box Parameters to -180 -90 180 90 in the main layer creation page and then Save.</li>
    </ul>
</body>
</html>
